/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/HarryBeastStandard-Regular.woff2") format("woff2");
  font-weight: normal;           /* Adjust if needed */
  font-style: normal;
  font-display: swap;            /* Optional for performance */
}
@font-face {
  font-family: 'HarryBeast';
  src: url('/fonts/HarryBeastDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  /* background-color: pink; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
  text-transform: capitalize;
}

